<div class="super_container">

    <!-- Header -->

    <app-header></app-header>


    <div class="container">

        <hr>

        <!--Center content-->

        <!-- Two equal columns -->
        <div class="ethics">
            <br>
            <h5 class="d-flex justify-content-left"><strong>Ethics In Publishing</strong></h5>
            <br>


            <h6><strong><i>Originality</i></strong></h6>
            <p>Manuscripts submitted to this Journal must be of original work. The Journal of Food Stability is
                strongly against plagiarism and self-plagiarism and will ensure that all manuscripts submitted
                should be free of any plagiarism, falsifications, or omission of significant material. Authors
                should make sure the manuscript they are willing to submit has not been published or submitted for
                publication elsewhere. Duplicated submission papers detected by the Journal will render immediate
                rejection.</p>


            <h6><strong><i>Authorship</i></strong></h6>
            <p>Only authors whom names appear on the paper must have made contribution to its preparation, whether
                in the design and/or analysis and interpretation of the data/or drafting of the paper. All authors
                must have critically reviewed and approved the final version of the manuscript before submission.
            </p>

            <h6><strong><i>Conflict of Interest</i></strong></h6>
            <p>Authors should avoid any possible conflict of interest or appearance of conflict of interest during
                the submission process.</p>

            <h6><strong><i>Peer-Review </i></strong></h6>
            <p>Peer review is the evaluation of author’s work by qualified Editorial board members within the
                relevant field. The Journal of Food Stability employs double blinded peer review method to maintain
                standards of quality, improve performance and provide credibility of a publication. Papers will only
                be sent to review if the Editor-in-Chief determines that the paper meets the appropriate quality and
                relevance requirements.</p>

            <h6><strong><i>Data protection</i></strong></h6>
            <p>By submitting or reviewing a manuscript to this journal, your name, email address, and affiliation,
                and other contact details of the publication will be used for the regular operations of the
                publication. The publication and the publisher recognize the importance of protecting the personal
                data collected from stakeholders in the operation of these services, and have practices elaborated
                to ensure that measures are taken to maintain the security, integrity, and privacy of the personal
                data collected and processed.</p>

            <h6><strong><i>Studies involving humans</i></strong></h6>
            <p>For manuscripts reporting studies involving human, a statement identifying the ethics committee that
                approved the study and confirmation that the study conforms to recognized standards is required. It
                should be clearly stated that all participants gave their consent prior to their inclusion in the
                study. Patients privacy should be preserved. Pictures and data from individual participants will
                only be published where the authors have obtained the individual's consent. Authors do not need to
                provide a copy of the consent form to the publisher; however, they should add these informations in
                the cover letter during the submission. </p>

            <h6><strong><i>Studies involving animals</i></strong></h6>
            <p>A statement indicating that the protocol and procedures used were ethically reviewed and validated,
                as well as the name of the body validating, must be included in the Methods section of the
                manuscript. Authors are encouraged to adhere to animal research reporting standards. They should
                also state whether experiments were performed according to relevant institutional and national
                guidelines for the care and use of laboratory animals.</p>

            <div class="text-right"><img src="/assets/logos/publisher.png" width="250px"
                    class="img-responsive"
                    alt="FTD Resources Publisher is the Publishing House of the Journal of Food Stability"></div>

        </div>


        <!--Center content ends-->

    </div>


    <app-footer></app-footer>

</div>