<div class="super_container">

    <!-- Header -->

    <app-header></app-header>

    <div class="container">

        <hr>
        <h4 class="green">
            <span routerLink="/archives" class="pointer blue">
                Archives
            </span>
            <b class="black">|&nbsp;</b>
            <span *ngIf="activeSection=='volumes'">
                <span>Volumes</span>
            </span>
            <span *ngIf="activeSection=='issues'">
                Issues for Volume {{volume}}
            </span>
            <span *ngIf="activeSection=='issue-details'">
                >
                <span routerLink="/archives/{{volume}}" class="blue pointer">
                    Volume {{volume}}
                </span> > &nbsp; Issues {{issue}}
            </span>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">2018 till date</h6>



        <div class="row" *ngIf="activeSection=='volumes'">
            <!--Row Item-->

            <div class="col-sm-3 mb-5 mt-3" *ngFor="let volume of volumes">
                <a routerLink="/archives/{{volume.volume}}">
                    <div class="card item">
                        <div class="card-body">
                            <h5 class="card-title"><b>Volume {{volume.volume}}</b></h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="row" *ngIf="activeSection=='issues'">
            <div class="col-sm-3 mb-5 mt-3" *ngFor="let issue of issues">
                <a routerLink="/archives/{{volume}}/{{issue.issue}}">
                    <div class="card item">
                        <div class="card-body">
                            <h5 class="card-title"><b>Issue {{issue.issue}}</b></h5>
                            <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <br>
        <div *ngFor="let post of posts">
            <div class="row">
              <div class="col-sm-3">
                <figure id="figure">
                  <span *ngIf="post.image=='default.png'">
                    <img src="/assets/images/post_default.jpg" alt="Project Default Image" />
                  </span>
                  <span *ngIf="post.image!='default.png'">
                    <img id="article_image" class="img-rounded img-responsive zoom_home"
                      src="http://localhost:8000/storage/post/{{post.image}}" alt="{{ post.title}}">
                  </span>
                </figure>
              </div>
              <div class="col-sm-9">
                <div>
                  <header class="entry-header">
                    <a routerLink="/abstract/{{ post.slug }}" target="_blank" (click)="updatePostCount(post.id)">
                      <h5 id="author"><span class="blue"><strong>{{ post.title }}</strong></span></h5>
                    </a>
                  </header>

                  <p id="author">{{ post.author }}</p>

                  <div>
                    <span>Volume:&nbsp;{{ post.volume }}</span>,
                    <span>Issue:&nbsp;{{ post.issue }}</span>
                  </div>
                  <div><strong id="category">Published&nbsp;: &nbsp;</strong><span id="date"><strong>{{ post.date }}
                      </strong></span></div>

                  <div><a routerLink="/abstract/{{ post.slug }}" target="_blank" (click)="updatePostCount(post.id)">
                      <strong id="abstract">Abstract
                        |
                        <a href="http://localhost:8000/storage/post/{{post.pdf}}" target="_blank"><span
                            id="pdf">PDF&nbsp;<i class="fa fa-file-pdf-o red"></i></span></a>
                      </strong></a>
                    <strong> | <span id="views-{{post.id}}">{{ post.view_count }}</span>&nbsp;<i class="fa fa-eye"></i></strong>
                    <strong> | <span id="downloads-{{post.id}}">{{ post.view_count }}</span>&nbsp;<i
                        class="fa fa-download"></i></strong>
                  </div>
                </div>
                <hr class="style-two" />
              </div>


              <!--End Row Item-->

            </div>
          </div>
        <!--End Row Item-->

    </div><!-- .row -->

    <app-footer></app-footer>

</div>