<div class="super_container">

    <!-- Header -->
    <app-header></app-header>

    <div class="container">

        <hr>

        <!--Center content-->

        <div class="card">

            <div class="container">
                <br>


                <div class="row" id="oa">
                    <span>
                        <h3><strong>Open Access Policy</strong></h3>
                    </span>
                </div>
                <div id="oa" class="row d-flex justify-content-center justify-content-lg-between align-items-lg-center">

                    <span>
                        <p>
                            <strong><span class="red">Open access articles (pdf) and journals are identified by the
                                    orange open lock icon.</span></strong>
                        </p>
                    </span>
                </div>
                <div id="oa" class="row d-flex justify-content-center justify-content-lg-between align-items-lg-center">

                    <span><img class="img-responsive text-center" src="/assets/logos/oa.png" width="150"
                            alt="The Journal of Food Stability is open access"></span>
                </div>
                <br><br>

                <div class="row">

                    <div class="col openaccess">
                        <p id="author">The research papers published in the <i><strong>Journal of Food
                                    Stability</strong></i> are fully <strong>open access</strong>. They are
                            immediately freely available to read, download, use and distributed. All papers in this
                            journal are published under the terms of the <a rel="license"
                                href="http://creativecommons.org/licenses/by/4.0/" target="_blank"><span
                                    class="blue">Creative Commons Attribution 4.0 International License (CC
                                    BY)</span></a> which allows users to copy, download, distribute and transmit a
                            paper in any medium, adapt and commercially use a paper for any responsible purpose. The
                            Creative Commons Attribution 4.0 International License permits commercial and
                            non-commercial re-use of an open access paper, as long as the author is properly
                            attributed. Copyright on any research paper published by <span class="green"><strong>FTD
                                    Resources Publisher</strong></span> Open Access Journals is retained by the
                            author(s). Authors grant <span class="green"><strong>FTD Resources
                                    publisher</strong></span> to publish their paper and identify itself as the
                            original publisher. They also grant free access and use of the paper by a third party as
                            long as the original authors, publication date; volume, issue and publisher are
                            identified.

                        </p>

                    </div>

                </div><!-- .row -->

            </div>
            <br>
            <br>
        </div>




        <!--Center content ends-->

    </div>


    <!-- Newsletter -->

    <app-footer></app-footer>

</div>