<div class="super_container">

  <!-- Header -->
  <app-header></app-header>
  <!-- cover page info-->

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="height:vh">
          <img class="card-img-top" src="/assets/logos/cover_page.png" width="100%" alt="Card image"
            alt="The Journal of Food Stability Cover Page">
          <div class="card-body">
            <span id="cover_page"><strong>Editor-In-Chief:&nbsp;</strong> Dr. Fabrice Tonfack Djikeng</span><br>
            <span id="cover_page"><strong>ISSN (online):&nbsp;</strong><span class="card-text blue"><a target="_blank"
                  href="https://portal.issn.org/resource/ISSN/2663-1741 ">2663-1741 </a></span></span><br>
            <span id="cover_page"><strong>ISSN (print):&nbsp;</strong><span class="card-text blue"><a target="_blank"
                  href="https://portal.issn.org/resource/ISSN/2664-5513">2664-5513</a></span></span><br>
            <span id="cover_page"><strong>Started:&nbsp;</strong>2018</span><br>
            <span id="cover_page"><strong>Abbreviation:&nbsp;</strong>J.Food.Stab</span><br>
            <span id="cover_page"><strong>DOI Prefix:&nbsp;</strong>10.36400</span><br>
            <span id="cover_page"><strong>Impact factor:&nbsp;</strong>1.17</span><br>
            <span id="cover_page"><strong>2021-2020:&nbsp;</strong>Google Scholar Citations</span><br>
          </div>
        </div>

        <br>
        <!--carousel begins-->

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/assets/slider/1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/3.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/4.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/5.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/6.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/7.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/8.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/9.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/10.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/11.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/12.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/13.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/14.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/15.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/slider/16.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <!--carousel end-->


        <br>

        <!-- indexing -->
        <div class="container">

          <span>Indexed by:</span>

          <div class="row thumbnail">
            <a target="_blank" href="http://isindexing.com/isi/">
              <img id="indexing" src="/assets/logos/international.png"
                alt="Indexed by International Scientific Indexing">
            </a>
          </div>

          <div class="row thumbnail">
            <a target="_blank" href=" https://publons.com/journal/348536/journal-of-food-stability">
              <img id="indexing" src="/assets/logos/publons.png" alt="Publison" />
            </a>
          </div>

          <div class="row thumbnail">
            <a target="_blank" href="https://scholar.google.com/citations?user=I2wGMdQAAAAJ&hl=en">
              <img id="indexing" src="/assets/logos/google_scholar.jpg" alt="Google Scholar" />
            </a>
          </div>

          <div class="row thumbnail">
            <a target="_blank" href="http://journalseeker.researchbib.com/view/issn/2663-1741">
              <img id="indexing" src="/assets/logos/research_bible.jpg" alt="Academic Resource Index" />
            </a>
          </div>


          <div class="row thumbnail">
            <a target="_blank" href="https://www.crossref.org/ ">
              <img id="indexing" src="/assets/logos/crossref.png" alt="Academic Resource Index" />
            </a>
          </div>


        </div>


        <!-- indexing end-->

      </div>
      <div class="col-md-8">
        <div class="top">
          <img class="openaccess pull-right" src="/assets/logos/oa.png"
            alt="The Journal of Food Stability is Open Access" width="130px" height="50">
          <br>
          <h3><strong>Journal Description</strong></h3>
          <br>
          <p id="author">The Journal of Food Stability publishes high quality original research articles and short
            research cutting-edge scientific advances as well as review articles in the field of Food Science,
            Nutrition, Feed Formulation and Crop Production. All papers should focus on the novelty of the research
            carried out.
          </p>
          <h4><strong>Topics include</strong></h4>
          <div class="container">
            <ul style="list-style-type:circle" id="cover_page">
              <li>Effects of processing on the chemical composition, quality and safety of foods</li>
              <li>Active constituents of foods, including antioxidants and phytochemicals</li>
              <li>Effects of additives on the stability of foods</li>
              <li>Chemical composition related to major and minor components of foods, their nutritional value,
                sensory
                properties, physiological and microbiological aspects</li>
              <li>Health and nutritional implications of food, functional foods, nutraceuticals, and supplements</li>
              <li>Advances in food technology and food formulation</li>
              <li>Crop production: grains; legumes, fruits; roots; vegetables; seeds</li>
              <li>Feed formulation</li>
              <li>Agricultural product health and safety</li>
            </ul>
          </div>
          <p id="author">The journal's mission is to rapidly publish high quality research article, new and novel
            techniques and developing trends in Food Science, Nutrition, Feed Formulation and Crop Production.</p>
        </div>
        <div class="bottom">

          <span class="new">{{'NEW'| translate}}</span>
          <p></p>
          <!-- put new label green-->
          <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" title="{{'Search articles by date'| translate}}"
            class="pointer">
            <div class="row">
              <div class="col-lg-5" title="{{'Start date'| translate}}">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text secondary">
                      {{'Start date'| translate}} &nbsp;
                      <i class="fa fa-hourglass-start"></i>
                    </span>
                  </div>
                  <input style="pointer-events: none" (ngModelChange)="onSearch()" class="form-control"
                    [placeholder]="'From' | translate" name="dp" formControlName="startd" [minDate]="minDate"
                    [maxDate]="maxDate" ngbDatepicker #j="ngbDatepicker" />
                  <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" id="startdd" (click)="j.toggle()" type="button">
                      <i class="bi bi-calendar-check" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-5" title="{{'End date'| translate}}">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text secondary">
                      {{'End date'| translate}} &nbsp;
                      <i class="fa fa-hourglass-end"></i>
                    </span>
                  </div>
                  <input (ngModelChange)="onSearch()" style="pointer-events: none"
                    class="form-control input-sm inline-form-control" [placeholder]="'End Date' | translate" name="dp"
                    formControlName="enddate" [minDate]="minDate" [maxDate]="maxDate" ngbDatepicker
                    #k="ngbDatepicker" />
                  <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" (click)="k.toggle()" type="button">
                      <i class="bi bi-calendar-check" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-2">
                &nbsp;
                <span>
                  <i (click)="refreshDataSource()" class="fa fa-undo pointer fa-sm" aria-hidden="true"
                    title="{{ 'Reset Filter' | translate }}"></i>
                </span>
              </div>
              <div class="pull-right col-lg-3">
                <!-- <div class="input-group mb-3 input-group-sm">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">{{
                                "Status" | translate
                                }}</label>
                        </div>
                        <select id="inputGroupSelect01" formControlName="status" (ngModelChange)="onSearch()">
                            <option disabled selected value>
                                {{ "Choose ..." | translate }}
                            </option>
                            <option value="pending">{{ "Pending" | translate }}</option>
                            <option value="success">{{ "Success" | translate }}</option>
                            <option value="error">{{ "Error" | translate }}</option>
                            <option value="all">{{ "All" | translate }}</option>
                        </select>
                    </div> -->
              </div>
            </div>
          </form>

          <hr>

          <div *ngFor="let post of posts">
            <div class="row">
              <div class="col-sm-3">
                <figure id="figure">
                  <span *ngIf="post.image=='default.png'">
                    <img src="/assets/images/post_default.jpg" alt="Project Default Image" />
                  </span>
                  <span *ngIf="post.image!='default.png'">
                    <img id="article_image" class="img-rounded img-responsive zoom_home"
                      src="https://foodstability-api-cby54.ondigitalocean.app/storage/post/{{post.image}}"
                      alt="{{ post.title}}">
                  </span>
                </figure>
              </div>
              <div class="col-sm-9">
                <div>
                  <header class="entry-header">
                    <a routerLink="/abstract/{{ post.slug }}" target="_blank" (click)="updatePostCount(post.id)">
                      <h5 id="author"><span class="blue"><strong>{{ post.title }}</strong></span></h5>
                    </a>
                  </header>

                  <p id="author">{{ post.author }}</p>

                  <div>
                    <span>Volume:&nbsp;{{ post.volume }}</span>,
                    <span>Issue:&nbsp;{{ post.issue }}</span>
                  </div>
                  <div><strong id="category">Published&nbsp;: &nbsp;</strong><span id="date"><strong>{{ post.date }}
                      </strong></span></div>

                  <div #counts><a routerLink="/abstract/{{ post.slug }}" target="_blank" (click)="updatePostCount(post.id)">
                      <strong id="abstract">Abstract
                        |
                        <a href="https://foodstability-api-cby54.ondigitalocean.app/storage/post/{{post.pdf}}"
                          target="_blank"><span id="pdf">PDF&nbsp;<i class="fa fa-file-pdf-o red"></i></span></a>
                      </strong></a>
                    <strong> | <span id="views{{post.id}}">{{ post.view_count }}</span>&nbsp;<i
                        class="fa fa-eye"></i></strong>
                    <strong> | <span id="downloads{{post.id}}">{{ post.view_count }}</span>&nbsp;<i
                        class="fa fa-download"></i></strong>
                  </div>
                </div>
                <hr class="style-two" />
              </div>


              <!--End Row Item-->

            </div>
          </div>

          <div class="container row">
            <div class="col-md-8 pull-left">
              <span>
                <p>{{'Showing posts'| translate}} : {{genericPosts.from ? genericPosts.from : '0' }} {{'to'| translate}}
                  {{genericPosts.to ? genericPosts.to : '0'}} {{'of'|
                  translate}} {{genericPosts.total? genericPosts.total : '0'}}</p>
                <p>{{'Page' | translate}}&nbsp;{{genericPosts.current_page ? genericPosts.current_page : '0'}} {{'of'|
                  translate}}
                  {{genericPosts.last_page ? genericPosts.last_page : '0'}}
                </p>
                <button class="btn btn-primary btn-sm" (click)="prevPage()"
                  [disabled]="!genericPosts.prev_page_url">{{'Prev'| translate}} << </button> &nbsp;
                    <button class="btn btn-primary btn-sm" (click)="nextPage()"
                      [disabled]="!genericPosts.next_page_url">{{'Next'| translate}} >> </button>
              </span>
            </div>
            <div class="col readmore" title="{{'Read more articles' | translate}}">
              <a routerLink="/articles" class="readmore_text"><button
                  class="btn btn-primary readmore_btn pull-right">{{'Read More'| translate}}</button></a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <!-- cover page info end-->

  <app-footer></app-footer>


</div>

<ngx-loading [show]="loadingData" [config]="{
  backdropBorderRadius: '3px',
  fullScreenBackdrop: true,
  animationType: animationType
}"></ngx-loading>