<div class="super_container">

    <!-- Header -->

    <app-header></app-header>

    <div class="container">

        <hr>

        <!--Center content-->

        <!-- Two equal columns -->
        <div class="review">
            <br>
            <h5><strong>Peer review &nbsp;<a
                        href="https://www.ajol.info/index.php/ajol/pages/view/reviewer-guidelines">(Adapted from
                        AJOL)</a></strong></h5>
            <div class="container">
                <p> &nbsp;&nbsp;&nbsp;&nbsp;Peer review is an essential part of formal scholarly communication, and
                    lies at the heart of the
                    scientific method. Peer review assists the editor in making editorial decisions and through the
                    editorial communications with the author may also assist the author in improving the paper. Peer
                    Reviewers need to recognize the importance of their role and commit to contributing high quality
                    work to the process of publishing scholarly research.
                </p>
            </div>
            <br>
            <h5><strong>Responsibilities of a Reviewer</strong></h5>
            <div class="container">
                <ul class="circle">
                    <div class="container">
                        <li>Identify and comment on major strengths and weaknesses of the study design and
                            methodology</li>
                        <li>Comment accurately and constructively upon the quality of author's interpretation of the
                            data,
                            including acknowledgements of its limitations</li>
                        <li>Raise any ethical concerns by the study (if any) or any possible evidence of low
                            standards of
                            scientific conduct</li>
                        <li>Provide useful suggestions for improvement of the manuscript to the author</li>
                        <li>Provide the proper context and perspective to the editor to make a decision on
                            acceptance
                            (and/or revision) of the manuscript.</li>
                        <li>Make sure that the papers received for review are treated as confidential documents.
                            They must
                            not be shown to or discussed with others except as authorized by the editor.
                        </li>
                        <li>Promptness: Any selected referee who feels unqualified to review the research reported
                            in a
                            paper, or knows that its prompt review will be impossible should notify the editor and
                            excuse
                            themselves from the review process. If a selected referee agrees to review a paper, they
                            should
                            then adhere to timelines set by the editor.
                        </li>
                        <li>Reviews should be conducted objectively. Personal criticism of the author is
                            inappropriate.
                            Referees should express their views clearly with supporting arguments.
                        </li>
                        <li>Reviewers are encouraged to comment on ethical questions and possible research
                            misconduct raised
                            by submissions (e.g. unethical research design, insufficient detail on patient consent
                            or
                            protection of research subjects, including animals).
                        </li>
                        <li>Reviewers are encouraged to be alert to redundant publication and plagiarism. Reviewers
                            should
                            identify relevant published work that has not been cited by the authors. Any statement
                            that an
                            observation, derivation, or argument had been previously reported should be accompanied
                            by the
                            relevant citation. A reviewer should also call to the editor's attention any substantial
                            similarity or overlap between the manuscript under consideration and any other published
                            paper
                            of which they have personal knowledge.
                        </li>
                        <li>Unpublished materials disclosed in a submitted manuscript must not be used in a
                            reviewer's own
                            research without the express written consent of the author. Privileged information or
                            ideas
                            obtained through peer review must be kept confidential and not used for personal
                            advantage.
                            Reviewers should not consider manuscripts in which they have conflicts of interest
                            resulting
                            from competitive, collaborative, or other relationships or connections with any of the
                            authors,
                            companies, or institutions connected to the papers.</li>
                    </div>
                </ul>
            </div>

            <h5><strong>Expected qualities from a Reviewer</strong></h5>
            <div class="container">
                <ul class="circle">
                    <div class="container">
                        <li>Be honest, professional, constructive and prompt in their reviews</li>
                    </div>
                </ul>
            </div>


            <br>
            <h5><strong>Review guide</strong></h5>
            <div class="container">
                <p>Please provide examples and evidence for responses, do not simply answer yes or no.</p>

                <ol>
                    <li>Topic and content:</li>
                    <div class="container">
                        <ol type="a">
                            <li>Is the topic relevant for the journal?</li>
                            <li>Is the content important to the field?</li>
                            <li>Is the work original? (If not, please give references)</li>
                        </ol>
                    </div>

                    <li>Title:</li>
                    <p>Does the title reflect the contents of the article?</p>

                    <li>Abstract:</li>
                    <p>To what extent does the abstract reflect aspects of the study: background, objectives,
                        methods,
                        results and conclusions? Does the abstract content previously undefined abbreviations?</p>

                    <li>Introduction / Background:</li>
                    <p>Is the study rationale adequately described? </p>


                    <li>Objectives:</li>
                    <p>Are the study objectives clearly stated and defined?</p>

                    <li>Methodology:</li>
                    <div class="container">
                        <ol type="a">
                            <li>To what extent is the study design appropriate and adequate for the objectives?</li>
                            <li>Is the sample size appropriate and adequately justified?</li>
                            <li>Is the sampling technique appropriate and adequately described?</li>
                            <li>How well are the methods and instruments of data collection described?</li>
                            <li>How well are techniques to minimize bias/errors documented?</li>
                        </ol>
                    </div>


                    <li>Ethical Consideration:</li>
                    <p>If there are issues related to ethics, are they adequately described? (For human studies, has
                        ethical approval been obtained?)</p>


                    <li>Analysis and results: </li>
                    <div class="container">
                        <ol type="a">
                            <li>Are the methods adequately described?</li>
                            <li>Are the methods of data analysis appropriate?</li>
                            <li>Do the results answer the research question?</li>
                            <li>Are the results credible?</li>
                            <li>Is statistical significance well documented (e.g. as confidence intervals or
                                P-value)?</li>
                            <li>Are the findings presented logically with appropriate displays and explanations?
                            </li>
                        </ol>
                    </div>

                    <li>Discussion:</li>
                    <div class="container">
                        <ol type="a">
                            <li>How well are the key findings stated?</li>
                            <li>To what extent have differences or similarities with other studies been discussed
                                and
                                reasons for these given?</li>
                            <li>Are the findings discussed in the light of previous evidence?</li>
                            <li>Are the implications of these findings clearly explained?</li>
                            <li>Is the interpretation warranted by and sufficiently derived from and focused on the
                                data and
                                results?</li>
                        </ol>
                    </div>

                    <li>Conclusion(s):</li>

                    <p>Do the results justify the conclusion(s)?</p>

                    <li>References:</li>
                    <div class="container">
                        <ol type="a">
                            <li>Are the references appropriate and relevant?</li>
                            <li>Are they up to date?</li>
                            <li>Are there any obvious, important references that should have been included and have
                                not
                                been?</li>
                            <li>Do the references follow the recommended style?</li>
                            <li>Are there any errors?</li>
                        </ol>
                    </div>

                    <li>Writing:</li>
                    <div class="container">
                        <ol type="a">
                            <li>Is the paper clearly written?</li>
                            <li>Is the paper presented logically (e.g. correct information in each section, logical
                                flow of
                                arguments)?</li>
                            <li>Are there problems with the grammar / spelling / punctuation / language?</li>
                        </ol>
                    </div>
                </ol>
            </div>
            <div class="d-flex justify-content-center">

                <img src="/assets/logos/review.jpg" class="img-responsive" width="500" height="600"
                    alt="The Journal of Food Stability Review Process">

            </div>

        </div>


        <!--Center content ends-->

    </div>


    <app-footer></app-footer>

</div>