<div class="super_container">

    <!-- Header -->

    <app-header></app-header>


    <div class="container text-center">

        <hr>
        <!--Center content-->

        <!-- Two equal columns -->
        <br>
        <h5 class="d-flex justify-content-center"><strong>Editorial Board</strong></h5>
        <br>
        <div class="d-flex justify-content-center">

            <div class="card editorial" id="center">
                <div class="card-header "><strong>Editor-in-Chief</strong></div>
                <div class="card-body"><strong>Dr. Fabrice Tonfack Djikeng</strong></div>
                <div class="card-footer">University of Buea,<br>Cameroon</div>
            </div>
        </div>
        <br>
        <br>
        <h5 class="d-flex justify-content-center"><strong>Associate Editors</strong></h5>
        <br>
        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Mallampalli Shri Lakshmi Karuna</strong></div>
                    <div class="card-body">CSIR-Indian Institute of Chemical Technology</div>
                    <div class="card-footer">India</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Pr. Said Gharby</strong></div>
                    <div class="card-body">University Ibn Zohr</div>
                    <div class="card-footer">Morocco</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Alioune Sow</strong></div>
                    <div class="card-body">Centre d’Etudes sur la Sécurité alimentaire et les Molécules
                        fonctionnelles (CESAM-RESCIF), Dakar</div>
                    <div class="card-footer">Senegal</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Esther Emem Nwanna</strong></div>
                    <div class="card-body">Federal University of Technology,Akure</div>
                    <div class="card-footer">Nigeria</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Adedokun Olufemi</strong></div>
                    <div class="card-body">Federal University of Technology, Akure </div>
                    <div class="card-footer">Nigeria</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Serge Eric Ngangoum</strong></div>
                    <div class="card-body">Catholic University Institute of Buea</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Abdelsalam Tidjani</strong></div>
                    <div class="card-body">Université de N’Djamena, N’Djamena </div>
                    <div class="card-footer">Tchad</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Srikanth Amirineni</strong></div>
                    <div class="card-body">CSIR-Indian Institute of Chemical Techlology</div>
                    <div class="card-footer">India</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Gires Teboukeu Boungo</strong></div>
                    <div class="card-body">University of Dschang</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Noel Tenyang</strong></div>
                    <div class="card-body">University of Maroua</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Dongho Dongmo Fabrice Fabien</strong></div>
                    <div class="card-body">University of Douala</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Beatrice Ifesan</strong></div>
                    <div class="card-body">Federal University of Technology Akure</div>
                    <div class="card-footer">Nigeria</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Ahmed Elamrani</strong></div>
                    <div class="card-body">Université Mohammed Premier</div>
                    <div class="card-footer">Morocco</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Hako Touko Blaise Arnaud</strong></div>
                    <div class="card-body">Catholic University Institute of Buea</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Mr. Anold Tatah Kong</strong></div>
                    <div class="card-body">Catholic University Institute of Buea</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Philippe Diakabana</strong></div>
                    <div class="card-body">Centre of Research and Initiation of Projects of Technology</div>
                    <div class="card-footer">Congo-Brazzaville</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Elvis Ndukong Ndzi</strong></div>
                    <div class="card-body">Institute of Research and Agricultural Development</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Vyshnavy Yelchuri</strong></div>
                    <div class="card-body">CSIR-Indian Institute of Chemical Technology</div>
                    <div class="card-footer">India</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Ndomou Houketchang Serges</strong></div>
                    <div class="card-body">University of Dschang</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Momo Kenfack Chancel Hector</strong></div>
                    <div class="card-body">University of Dschang</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
        </div>


        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Eucharia O Nwaichi</strong></div>
                    <div class="card-body">University of Port Harcourt</div>
                    <div class="card-footer">Nigeria</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Mr. Justin Djimbie Djopnang</strong></div>
                    <div class="card-body">University of Douala</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Klang Mathilde Julie</strong></div>
                    <div class="card-body">University of Dschang</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Bemmo Kamdem Ulrich</strong></div>
                    <div class="card-body">NESTLE</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Eng. Morfor Theresia Azia</strong></div>
                    <div class="card-body">Catholic University Institute of Buea</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Desobgo Zangué Steve Carly</strong></div>
                    <div class="card-body">University of Ngaoundere</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Norrakiah Abdullah Sani</strong></div>
                    <div class="card-body">Universiti Kebangsaan</div>
                    <div class="card-footer">Malaysia</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Neela Satheesh</strong></div>
                    <div class="card-body">Jimma University</div>
                    <div class="card-footer">Ethiopia</div>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Comfort Onyeche Ochida</strong></div>
                    <div class="card-body">Benue State University, Makurdi</div>
                    <div class="card-footer">Nigeria</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Adedokun M. O</strong></div>
                    <div class="card-body">University of Ibadan</div>
                    <div class="card-footer">Nigeria</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Nor Hayati BT IBRAHIM
                        </strong></div>
                    <div class="card-body">Universiti Malaysia Terengganu</div>
                    <div class="card-footer">Malaysia</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Miss Feudjio Demanou Yolande
                        </strong></div>
                    <div class="card-body">University of Dschang</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong> Dr. Seukep Armel Jackson
                        </strong></div>
                    <div class="card-body">Chinese Academy of Science (CAS),</div>
                    <div class="card-footer">China</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Fankam Aime Gabriel
                        </strong></div>
                    <div class="card-body">University of Dschang</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong> Dr. Ngueguim Jules Romain
                        </strong></div>
                    <div class="card-body">Institute of Agricultural Research for Development</div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Ochelle Paul Ohini
                        </strong></div>
                    <div class="card-body">Federal University of Agriculture</div>
                    <div class="card-footer">Makurdi, Nigeria</div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong> Dr. KOUTEU NANSOU Paul Alain
                        </strong></div>
                    <div class="card-body">University of Douala
                    </div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. KAMENI NGOUNOU Michel Bernard
                        </strong></div>
                    <div class="card-body">University of Douala
                    </div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Nor Nadiah Abdul Karim Shah
                        </strong></div>
                    <div class="card-body">Universiti Putra Malaysia
                    </div>
                    <div class="card-footer">Malaysia</div>
                </div>
            </div>
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Miss Njapndounke Bilkissou
                        </strong></div>
                    <div class="card-body">University of Dschang
                    </div>
                    <div class="card-footer">Cameroon</div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card editorial" id="center">
                    <div class="card-header "><strong>Dr. Linus G. Fonkwe
                        </strong></div>
                    <div class="card-body">Thermofisher Scientific
                    </div>
                    <div class="card-footer">United States of America</div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <br>
        <br>
        <div class="text-right"><img src="assets/logos/publisher.png" width="250" class="img-responsive"
                alt="FTD Resources Publisher is the Publishing House of the Journal of Food Stability"></div>



        <!--Center content ends-->


    </div>


    <app-footer></app-footer>

</div>