<div class="super_container">

    <!-- Header -->

    <app-header></app-header>

    <div class="container">

        <hr>
        <h5> <span class="blue">Publication Charge (APC)</span></h5>

        <p>In a continuous effort to disseminate the scientific findings more efficiently and to ensure
            quality and timely publication, all papers submitted for publication to the Journal of Food
            Stability as from <span class="red">January 1 st , 2020</span> will carry an Article Processing Charge
            (APC)
            of <span class="red">USD$100</span> made payable either by the author(s), funder(s), institution(s) or
            employer(s). The payment will be done after acceptance and before publication of the
            paper. Authors residing in Cameroon will receive their invoice in FCFA.
            The APC is fixed regardless of manuscript length and page number, and substantially
            covers the peer review, journal production, online archiving, and copy editing charges.
            No submission fee is applied.
            If any manuscript is rejected during the peer review process, then the authors have not
            to pay any charge.</p>



        <h5><span class="red">Withdrawal of manuscript</span></h5>
        <p>If you withdraw your manuscript after it has been peer reviewed, or after it has been
            typeset (but not yet published) you will be charged according to the following:
            <span class="red">USD$50</span> per article (after peer review) and <span class="red">USD$75</span> per
            article (after peer review and
            typesetting).</p>

        <br>

        <h5><span class="red">Payment methods</span></h5>
        <p>Kindly contact us at <span class="blue">j.food.stability@gmail.com</span> to know payment instructions.
        </p>
        <p>For any inquiry, contact us at: <span class="blue">j.food.stability@gmail.com</span></p>
        <p>Yours sincerely.</p>



    </div>


    <app-footer></app-footer>

</div>