

.mainActions {
    position: absolute;
    right: 0;
    padding: 0 10px;
    display: none;
  }
  
  .mainActions ul {
    list-style: none;
    margin-bottom: 0;
    display: inline-block;
    padding-inline-start: 0;
    background: #fafafa;
  }
  
  .mainActions li {
    display: inline;
    margin-left: 25px;
    opacity: 0.7;
  }
  
  tr:hover .mainActions {
    display: block;
  }
  
  tr:hover .mainActions li:hover {
    opacity: 1;
    cursor: pointer;
  }

  p {
    word-break: break-all;
  }
  
  .help {
    cursor: help;
  }

  .pointer {
    cursor: pointer;
  }
  
  .green {
    color: green;
  }
  
  .orange {
    color: rgb(243, 151, 45);
  }
  
  .red {
    color: red;
  }
  
  .blue {
    color: rgb(51, 166, 211);
  }
  
  .pad {
    margin: 5px;
  }
  