<div class="super_container">

    <!-- Header -->

    <app-header></app-header>

    <div class="container">

        <hr>

        <h4 class="text-center"><span class="blue"> GUIDE FOR AUTHORS</span></h4>

        <!--Center content-->

        <!-- Two equal columns -->
        <div class="authors">
            <br>
            <h5 class="d-flex justify-content-left red"><strong>IMPORTANT</strong></h5>
            <br>
            <p class="blue"><i>In a continuous effort to disseminate the scientific findings more efficiently and to
                ensure quality and timely publication, all papers submitted for publication to the
                Journal of Food Stability carry an Article Processing Charge (APC) of <span class="red">USD $100</span>
                made payable either by the author(s), funder(s), institution(s) or employer(s). The
                payment will be done after acceptance and before publication of the paper.
                Authors residing in Cameroon will receive their invoice in FCFA. The APC is fixed
                regardless of manuscript length and page number, and substantially covers the
                peer review, journal production, online hosting, maintenance, other
                miscellaneous and copy editing charges. No submission fee is applied.</i></p>

            <br>
            <strong><a href="/assets/document/guide-for-authors.pdf" target="_blank"><span id="pdf">DOWNLOAD PDF OF GUIDE &nbsp;<i
                            class="fa fa-file-pdf-o red"></i></span></a></strong>
            <h5 class="d-flex justify-content-left"><strong>GUIDE FOR AUTHORS</strong></h5>

            <br>


            <h4><strong>Manuscript categories</strong></h4>
            <p>Research papers, Short research reports and Review articles are acceptable in this Journal. However,
                Authors should make sure the manuscript they are submitting has not been published or submitted for
                publication elsewhere. Duplicated submission papers detected by the Journal will render immediate
                rejection. Accepted papers become the copyright of the Journal.</p>


            <ul class="tick">
                <li>
                    <p><strong>Research article</strong></p>
                </li>
                <p>The papers should contain no more than 25 typewritten pages or up to 7500 words, not including
                    references, tables and figures. Previously reported methods should be referenced only. The
                    number of references should not exceed 40 (except for review articles). Articles should be as
                    concise as possible, while providing sufficient information for the work to be repeated and for
                    the claims of the authors to be judged by the readers.</p>

                <li>
                    <p><strong>Short research reports</strong></p>
                </li>
                <p>They should be condensed to 8 typewritten pages or not more than 3000 words excluding references
                    and a maximum of four illustrations (Tables and figures).</p>

                <li>
                    <p><strong>Review Articles </strong></p>
                </li>
                <p>Review articles can provide concise and critical updates on a subject of current interest. They
                    are contributed by scientists who are leading specialists in their field of expertise. It should
                    normally focus on literature published over the previous five years and should not exceed 10,000
                    words excluding references. It should not contain more than five tables and figures combined and
                    should have a maximum of 110 references.</p>

                <h5>
                    <p><strong>Preparation of Manuscripts</strong></p>
                </h5>
                <p>Authors are advised to flow the guideline to prepare their manuscript accordingly. A single word
                    processor containing all sections of the manuscript (Title page information, main text, figures
                    and tables) should be submitted as a single file (Microsoft Office Word).</p>

                <li>
                    <p><strong>Authorship</strong></p>
                </li>
                <p>Only authors whom names appear on the paper must have made contribution to its preparation,
                    whether in the design and/or analysis and interpretation of the data/or drafting of the paper.
                    All authors must have critically reviewed and approved the final version of the manuscript
                    before submission. It is necessary for the contributors to suggest at least three potential
                    reviewers and provide their contact details, field of expertize. A cover letter should contain
                    all these information.</p>

                <li>
                    <p><strong>Language</strong></p>
                </li>
                <p>The Journal of Food Stability is a bilingual Journal. Manuscripts are accepted in English and
                    French. Manuscript to be submitted should be ensured written in clear and comprehensive English
                    or French. Authors whose native language is not French or English are strongly advised to have
                    their papers checked by English-speaking or French-speaking colleagues respectively, prior
                    submission. It is the author responsibility to make sure there is not grammar and spelling
                    errors.</p>

                <li>
                    <p><strong>Originality</strong></p>
                </li>
                <p>Manuscripts submitted to this Journal must be of original work. The Journal of Food Stability is
                    strongly against plagiarism and self-plagiarism and will ensure that all manuscripts submitted
                    should be free of any plagiarism, falsifications, or omission of significant material.</p>

                <li>
                    <p><strong>Manuscript style</strong></p>
                </li>
                <p>Manuscripts should be prepared to follow the J. Food. Stab guide for Preparation of Manuscripts
                    in detail. Manuscripts should be submitted in 12 points, Times New Roman font, with 1.5 line
                    spacing and sufficient margins of 2.5 cm. The text should not be formatted. Each page must be
                    numbered, and lines must be consecutively numbered from the start to the end of the manuscript.
                    The corresponding author should be identified (include a valid E-mail address). Full postal and
                    email addresses must be given for all co-authors.</p>

                <li>
                    <p><strong>Cover Letter</strong></p>
                </li>
                <p>A cover letter should be included with each manuscript submission. It should be concise and
                    explain why the content of the paper is significant, placing the findings in the context of
                    existing work and why it fits the scope of the journal. Confirm that neither the manuscript nor
                    any parts of its content are currently under consideration or published in another journal. </p>

                <li>
                    <p><strong>Title page</strong></p>
                </li>
                <p>The title of a paper should be brief and informative, reflecting the purpose and contents of the
                    work. For all manuscripts, the title, name (s), mailing address, telephone number, fax number,
                    e-mail address, and affiliation of author (s) should be given.</p>

                <li>
                    <p><strong>Abstract</strong></p>
                </li>
                <p>Please provide an abstract of 300 words containing the major keywords summarizing the article.
                    References should be avoided in the abstract. Also, non-standard or uncommon abbreviations
                    should be avoided, but if essential they must be defined at their first mention in the abstract
                    itself. A practical application of the research findings should be given (100 words maximum).
                </p>

                <li>
                    <p><strong>Keywords</strong></p>
                </li>
                <p>Please provide four to six keywords. </p>

                <li>
                    <p><strong>Main Text</strong></p>
                </li>
                <p>The paper should be divided into clearly defined and numbered sections. Subsections should be
                    numbered 1.0 (then 1.1., 1.2, ...), 2.0. , etc. (abstract is not included in section numbering).
                    Any subsection may be given a brief heading. Each heading should appear on its own separate
                    line. Line and manuscript pages should be numbered.</p>

                <li>
                    <p><strong>Introduction</strong></p>
                </li>
                <p>The introduction should briefly place the study in a broad context and highlight why it is
                    important. It should define the purpose of the work and its significance, including specific
                    hypotheses being tested. The current state of the research field should be reviewed carefully
                    and key publications cited. Finally, it should mention the main aim of the work.</p>

                <li>
                    <p><strong>Material and Methods</strong></p>
                </li>
                <p>Sufficient details should be provided to allow the work to be reproduced by an independent
                    researcher. Already published methods should be summarized, and indicated by a reference. Any
                    modifications to existing methods should be described. The section related to statistical
                    analysis should have information on applied statistical tests and programs.</p>

                <li>
                    <p><strong>Results</strong></p>
                </li>
                <p>Provide a concise and precise description of the experimental results.</p>

                <li>
                    <p><strong>Discussion</strong></p>
                </li>
                <p>This should explore the significance of the results of the work, not repeat them. A combined
                    Results and Discussion section is appropriate. Extensive citations and discussion of published
                    reports should be avoided.</p>

                <li>
                    <p><strong>Conclusions</strong></p>
                </li>
                <p>The main conclusions of the study should be presented in a short Conclusions section, which must
                    stand alone. </p>

                <li>
                    <p><strong>Tables</strong></p>
                </li>
                <p>Please submit tables as editable text and not as images. Tables should be placed on separate page
                    (s) at the end of the manuscript. Number tables consecutively in accordance with their
                    appearance in the text and place any table notes below the table body. A short descriptive title
                    should appear above each table with a clear legend and any footnotes suitably identified below.
                    All units must be included.</p>

                <li>
                    <p><strong>Figures</strong></p>
                </li>
                <p>Figures and photographs should be numbered with Arabic numerals and placed on separate page (s)
                    at the end of the manuscript. Ensure that each illustration has a caption. Supply captions
                    directly after each figure. A caption should comprise a brief title (not on the figure itself)
                    and a description of the illustration. Keep text in the illustrations themselves to a minimum
                    but explain all symbols and abbreviations used. Figures should be submitted in color.</p>

                <li>
                    <p><strong>Graphical abstract</strong></p>
                </li>
                <p>Authors should submit a graphical abstract of their work while submitting their paper. Note that
                    the submission of the graphical abstract is mandatory. The graphic should capture the reader's
                    attention and, in conjunction with the manuscript’s title, give the reader a quick visual
                    impression of the paper content. The graphical abstract should be submitted as supplementary
                    material in JPEG. Examples are shown in the journal page.</p>

                <li>
                    <p><strong>References</strong></p>
                </li>
                <p>References should be prepared according to the APA style guide, 6th Edition. Citations should
                    follow the author-date method whereby the author's last name and the year of publication for the
                    source should appear in the text, for example, (Djikeng, 2018) for one author, (Iqbal and
                    Bhanger, 2007) for two authors and (Djikeng et al., 2017) for more than two authors. The
                    complete reference list should appear alphabetically by name at the end of the paper. Journal
                    names are not to be abbreviated. They should be typed in full (See examples below). Unpublished
                    work should not be cited in the manuscript.</p>

                <p><strong>Journal article</strong></p>
                <p>Tonfack Djikeng, F., Teyomnou, W. T., Tenyang, N., Tiencheu, B., Morfor, T. A., Hako Touko, B.
                    A., Houketchang, S. N., Boungo, G. T., Karuna, M. S. L., Ngoufack, F. Z., & Womeni, H. M.
                    (2018). Effect of traditional and oven roasting on the physicochemical properties of fermented
                    cocoa beans. Journal of Food Processing and Preservation, 4, 444-410.</p>

                <p><strong>Book</strong></p>
                <p>Ramarathnam, N., Ochi, H., & Takeuchi, M. (1997). Antioxidant defense system in vegetable
                    extracts. In: Shahidi F (ed) Natural antioxidants: chemistry health effects and applications.
                    AOCS Press, Champaign, pp 76–87.</p>

                <p><strong>Internet</strong></p>
                <p>Tuete, L. (2018, July 10). How to formulate and preserve chocolate (Video file). Retrieved from
                    http://www.youtube.com/watch?v=Vja83KLQXZs</p>

                <p><strong>Thesis</strong></p>
                <p>Tonfack, D. F. (2016). Stabilization of palm olein by the methanolic extracts of three plants
                    during storage at High Temperature: (Camellia sinensis L., Annonamuricata L. and
                    Zingiberofficinale R. Ph.D Thesis, University of Dschang, Cameroon 200p.</p>

                <p><strong>Proceedings/Seminars/Conference papers</strong></p>
                <p>Djikeng, D. F., Dongmo, J. R., Womeni, H. M., & Linder, M. (2014). Use of some Cameroonian Plants
                    essential oils as natural antioxidants for stabilization of RBD palm olein during deep-fat
                    frying of Plantain Chips.Proceedings, 4th Life Science’s Conference, August 7th-8th, University
                    of Dschang, Cameroon.Tome 1. Page 148-149.</p>

                <p><strong>Standard </strong></p>
                <p>International Dairy Federation (IDF) (1991). International IDF Standard 74A, Brussels, Belgium
                </p>

                <li>
                    <p><strong>Conflict of Interest Statement</strong></p>
                </li>
                <p>Authors will be asked to provide a conflict of interest statement during the submission process.
                </p>

                <li>
                    <p><strong>Acknowledgments</strong></p>
                </li>
                <p>Contributions from anyone who does not meet the criteria for authorship should be listed, with
                    permission from the contributor, in an Acknowledgments section. Financial and material support
                    should also be mentioned.</p>

                <li>
                    <p><strong>Checklist</strong></p>
                </li>
                <p>The authors can use this list to carry out a final check of your submission before you send it to
                    the journal for review. Please make sure the following are available during your submission:</p>

                <div class="container">
                    <ul style="list-style-type:square">
                        <li>Cover letter</li>
                        <li>Title page</li>
                        <li>Abstract</li>
                        <li>Keywords</li>
                        <li>Introduction</li>
                        <li>Material and Methods</li>
                        <li>Results & Discussion</li>
                        <li>Conclusions</li>
                        <li>Conflict of interest</li>
                        <li>Acknowledgements</li>
                        <li>References</li>
                        <li>Figures and captions (if any)</li>
                        <li>Tables and captions (if any)</li>
                        <li>Graphical abstract</li>

                        <br>
                        <p><strong>Additional Considerations</strong></p>
                        <li>Manuscript has been 'spell and 'grammar checked'</li>
                        <li>All references mentioned in the Reference List are cited in the text, and vice versa
                        </li>
                        <li>Permission has been obtained for use of copyrighted material from other sources </li>
                        <li>A competing interests statement is provided, even if the authors have no competing
                            interests
                            to declare</li>
                        <li>Manuscript was prepared according to the journal guideline</li>
                        <li>Three Referees and their contact details have been provided</li>


                    </ul>
                </div>

            </ul>
            <br>

            <h5>
                <p><strong>Submission</strong></p>
            </h5>
            <p>The Journal accepts manuscripts (Microsoft Office word) via email (<span
                    class="blue"><strong>j.food.stability@gmail.com</strong></span> ) and <a routerLink="/login"><span
                        class="green"><strong>online.</strong></span></a> </p>

            <br>
            <p>Authors are advised to submit their manuscript along with a cover letter and the names, Email
                addresses, phone numbers, Institution and country of three selected reviewers. Reviewers must be
                from your research field.
                ​ Please indicate <span class="blue"><strong>MANUSCRIPT SUBMISSION</strong></span> in the subject of
                the email (For manuscript submitted via Email).</p>

            <h5><strong>After acceptances</strong></h5>
            <p>Once the paper is accepted for publication, authors are informed with an email notification on the
                decision of their manuscript with the acceptance letter. Authors are recommended to strictly follow
                the format in order to facilitate the publication of their paper.</p>

            <h5><strong>Article publication charges</strong></h5>
            <p>As from the <strong>1 st of January 2020,</strong> all accepted peer-reviewed reviews and articles
                submitted for publication in the Journal of Food Stability will carry an Article Processing
                Charge (APC) of <strong>USD$100</strong> made payable either by the author(s), funder(s),
                institution(s) or employer(s). The payment will be done after acceptance and before
                publication of the paper. Authors residing in Cameroon will receive their invoice in
                FCFA.</p>
            <p>The APC is fixed regardless of manuscript length and page number, and substantially
                covers the peer review, journal production, online archiving, and copy editing charges.
                No submission fee is applied.</p>


            <h5><strong>Proofs</strong></h5>
            <p>Page proofs will be sent to the designated authors via email. They must be carefully checked and
                returned within 72 hours of receipt. Any change in e-mail address from the time the manuscript was
                submitted must be communicated to the Editor-in-Chief via email (j.food.stability@gmail.com).</p>

            <br><br>
            <!-- <div class="left"><img src="images/logo.jpg" width="200" height="70"class="img-responsive"></div>
        <div class="right"><img src="images/publisher.jpg" width="250" class="img-responsive"></div> -->

        </div>

        <div class="rows">
            <div class="pull-left"><img src="assets/logos/jfstab.jpg" width="250" height="70"
                    class="img-responsive"></div>

            <div class="pull-right"><img src="assets/logos/publisher.png" width="250" height="70"
                    class="img-responsive"></div>

        </div>

        <!--Center content ends-->

    </div>


    <app-footer></app-footer>

</div>